@charset "UTF-8";

/*ページロード時のアニメーション効果*/

body {
    -webkit-animation: fadeIn 4s ease 0s 1 normal;
    animation: fadeIn 4s ease 0s 1 normal;
    overflow-x: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}



/*共通部分
------------------------------*/
body {
    font-size: 1em;
    margin: 0 auto;
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
    line-height: 1.7;
    color: #432;
    height: 100vh;
    /*
    background: linear-gradient(45deg, #EDD086 25%, transparent 25%, transparent 75%, #EDD086 75%),
        linear-gradient(45deg, #EDD086 25%, transparent 25%, transparent 75%, #EDD086 75%);
    background-color: #F7EDD0;
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
*/
    background-image: url(../img/649145_m.jpg);
    background-size: cover;
    position: relative;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    margin: 0;
}



/*HEADER
------------------------------*/
.page-header.wrapper {
    width: 100vw;
    height: auto;
    background-color: #F7EDD0;
    display: flex;
    justify-content: space-around;
    opacity: .8;
    z-index: 1;
    margin: 0 auto 0;
    position: fixed;
}

.logo {
    padding: 10px;
    width: 20vw;
}

.sns {
    position: absolute;
    top: 30px;
    right: 50px;
}

.sns ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.sns a {
    font-size: 1.8em;
    color: #435b5b;
    opacity: .8;
    text-decoration: none;
    display: block;
    width: 2em;
    line-height: 2em;
    text-align: center;
    margin-left: 5px;
}

.sns a:hover {
    color: #a2cec3;
    background-color: #435b5b;
    border: solid 3px #435b5b;
    border-radius: 50%;
}

/*CONTENTS
------------------------------*/

.circle1 {
    color: #fff;
    font-size: 7em;
    display: inline-block;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    background: #F7C6BD;
    text-align: center;
    line-height: 5em;
    filter: drop-shadow(10px 10px 10px #333);
    position: absolute;
    top: 8vh;
    left: 8.5vw;
    z-index: -100;
}

.home-content {
    text-align: center;
    position: relative;
}

.img-main1 {
    filter: drop-shadow(20px 20px 10px #333);
    width: 35vw;
    position: absolute;
    top: 35vh;
    left: 45vh;
    animation: SlideIn3 1.6s 1;
    transition-duration: 0.5s;
}

.img-main2 {
    filter: drop-shadow(20px 20px 10px #333);
    width: 35vw;
    position: absolute;
    top: 20vh;
    right: 45vh;
    animation: SlideIn3 1.6s 1;
    transition-duration: 0.5s;
}

.img-main1:hover {
    transform: rotateY(360deg);
    transition-duration: 0.5s;
}

.img-main2:hover {
    transform: rotate(360deg);
    transition-duration: 0.5s;
}


.img-sub01 {
    width: 60%;
    height: 100vh;
    height: auto;
    position: absolute;
    top: 150px;
    right: 0px;
    filter: drop-shadow(10px 10px 10px #333);
    animation: SlideIn2 1.6s 1;
    pointer-events: none;
}

.circle2 {
    display: inline-block;
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    background: #fff;
    filter: drop-shadow(10px 10px 10px #333);
    position: absolute;
    top: 20vh;
    right: 10vw;
    z-index: -100;
}

.sub-content {
    position: absolute;
    top: 20vh;
    left: 9vw;
    animation: SlideIn 1.6s 1;
    pointer-events: none;
}

.sub-content img {
    width: 30vw;
    transform: skew(15deg, -15deg);

}

.sub-content2 img {
    width: 30vw;
    position: absolute;
    top: 60vh;
    left: 6vw;
}


/*左から右へスライド*/
@keyframes SlideIn {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*右から左へスライド*/
@keyframes SlideIn2 {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*下から上にスライド*/
@keyframes SlideIn3 {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*ショップアイコン*/

.form_link {
    width: 10vw;
    height: 20vh;
    padding-top: 2vw;
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
    transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
    background-color: #eecc38;
    text-align: center;
    position: absolute;
    top: -1vw;
    left: 0;
    z-index: 5;
    position: fixed;
}

.form_link::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 0;
    border-left: 5vw solid #eecc38;
    border-right: 5vw solid #eecc38;
    border-bottom: 2vw solid transparent;
}


.form_link p {
    color: #fff;
}

.form_link img {
    width: 4vw;
    height: auto;
}

.form_link:hover {
    top: 0;
    cursor: pointer;
    opacity: .6;
}



/*ホームアイコン*/

.home_link {
    width: 10vw;
    height: 20vh;
    padding-top: 2vw;
    ;
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
    transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
    background-color: #da6d54;
    text-align: center;
    position: absolute;
    top: -1vw;
    left: 0;
    z-index: 5;
    position: fixed;
}

.home_link::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 0;
    border-left: 5vw solid #da6d54;
    border-right: 5vw solid #da6d54;
    border-bottom: 2vw solid transparent;
}


.home_link p {
    color: #fff;
}

.home_link img {
    width: 4vw;
    height: auto;
}

.home_link:hover {
    top: 0;
    cursor: pointer;
    opacity: .6;
}



/*FOOTER
------------------------------*/
footer {
    background-color: #F7EDD0;
    text-align: center;
    opacity: .8;
    line-height: 50px;
    font-size: 1.2em;
    color: #435b5b;
    bottom: 0;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}




/*******************************************/
/*もなか画像のキャプション表示*/

.content {
    margin: 0 auto;
    padding: 40px;
    cursor: pointer;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(67, 91, 91, 0.6);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.modal__content h1 {
    color: #435b5b;
    font-size: 1.8em;
}

.modal__content p {
    color: #435b5b;
    font-size: 1.2em;
}




/****************SHOP****************/
#shop {
    display: flex;
    justify-content: space-around;
    padding: 18vh 15vw 0 15vw;
}

#shop figure img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
}

#shop figure h1 {
    font-size: 1.2em;
}

#shop figcaption p {
    font-size: 1em;
}


/*MAPボタン*/
#shop_btn {
    margin: 10px 80px 50px 80px;
}

a.cp_btn {
    display: block;
    position: relative;
    width: 160px;
    padding: 0.6em;
    text-align: center;
    text-decoration: none;
    color: #ffffd3;
    border: 1px solid #a0dfa5;
    background: #a0dfa5;
    overflow: hidden;
    z-index: 1 !important;
    font-size: 1em;
}

a.cp_btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 100%;
    background: #ffffd3;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: 0.3s;
    z-index: -1;
}

a.cp_btn:hover {
    color: #333;
}

a.cp_btn:hover:after {
    height: 250%;
    opacity: 1;
}

a.cp_btn:active:after {
    height: 350%;
    opacity: 1;
}



/*********** モバイル版 ***********/

@media (max-width: 767px) {
    body {
        background-repeat: repeat-y;
    }

    .page-header.wrapper {
        width: 100vw;
        height: 10vh;
        background-color: #F7EDD0;
        display: flex;
        justify-content: space-around;
        opacity: .8;
        z-index: 1;
        margin: 0 auto 0;
        position: fixed;
    }

    .logo {
        padding: 10px;
        width: 40vw;
    }

    .sns {
        position: absolute;
        top: 0;
        right: 10px;
    }

    .sns a {
        font-size: 1em;
        display: block;
        width: 1em;
        line-height: 3em;
        text-align: center;
        margin-left: 10px;
    }

    .circle1 {
        display: inline-block;
        position: absolute;
        width: 40vw;
        height: 40vw;
        top: 15vh;
        left: 10vw;
    }

    .img-main1 {
        filter: drop-shadow(5px 5px 5px #333);
        width: 50vw;
        position: absolute;
        top: 30vh;
        left: 10vw;
    }

    .img-main2 {
        filter: drop-shadow(5px 5px 5px #333);
        width: 50vw;
        position: absolute;
        top: 20vh;
        right: 5vw;
    }

    .img-sub01 {
        width: 70%;
        height: 100vh;
        height: auto;
        position: absolute;
        top: 320px;
        right: 0px;
        filter: drop-shadow(5px 5px 5px #333);
    }

    .circle2 {
        display: inline-block;
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
        background: #fff;
        filter: drop-shadow(10px 10px 10px #333);
        position: absolute;
        top: 20vh;
        right: 10vw;
    }

    .sub-content {
        position: absolute;
        top: 20vh;
        left: 10vw;
    }

    .sub-content img {
        width: 40vw;
    }

    .sub-content2 img {
        width: 70vw;
        position: absolute;
        top: 60vh;
        left: 15vw;
    }

    .form_link,
    .home_link {
        width: 15vw;
        height: 15vw;
        padding-top: 2vw;
    }

    .form_link::after {
        width: 15vw;
        height: 0;
        border-left: 5vw solid #eecc38;
        border-right: 5vw solid #eecc38;
        border-bottom: 2vw solid transparent;
    }
    
    .home_link::after {
        width: 15vw;
        height: 0;
        border-left: 5vw solid #da6d54;
        border-right: 5vw solid #da6d54;
        border-bottom: 2vw solid transparent;
    }

    .form_link p,
    .home_link p {
        color: #fff;
        font-size: .8em;
    }

    .form_link img,
    .home_link img {
        width: 8vw;
        height: auto;
    }

    #shop {
        display: block;
        margin-bottom: 200px;
    }

}
